.App{
  width: 100%;
  height: 100vh;
  padding-top: 16px;
  background-color: rgb(255, 255, 255);
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor{
  width: 100%;
  height: 50px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-imagen{
  height: 160px;
}

.contenedor-calculadora{
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #7b8591;
  border-radius: 20px;
  border: 5px solid rgb(49, 49, 49); 
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}