.boton-contenedor{
    height: 83px;
    display: flex;
    flex:1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: white;
    color: black;
    border-radius: 25px;
    border: 2px solid black;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}
.boton-contenedor :hover{
    background-color: transparent;
}
.operador:hover{
    background-color: transparent;
}

.operador{
    background-color: rgb(74, 216, 193);
}